In [39]:
#Packages
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [40]:
#SQL connection string
username = 'postgres'
password = 'mids.bgpredict'
conn_string = f'postgresql://{username}:{password}@bgpredict-db.cpfgoi91tnmw.us-west-2.rds.amazonaws.com:5432/bg-predictDB'

#Create engine
db = create_engine(conn_string)

#Connect to postgresql
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

In [52]:
#Write your SQL
sql = '''
select
    fd.subjectid,
    fd.date
from
    vw_final_dataset fd
where
    0 = 0
    and fd.subjectid IN (
        select
            fd.subjectid
        from
            vw_final_dataset fd
        where
            0 = 0
            --and fd.subjectid IN ('221634','15558575')

        group by
            fd.subjectid
        having
            count(distinct fd.date) >= 3
        )
group by
    fd.subjectid, fd.date
order by
    fd.subjectid, fd.date asc
'''

In [53]:
#Put SQL output into dataframe
df = pd.read_sql_query(sql, con=db)

In [54]:
df

       subjectid        date
0         221634  2018-03-01
1         221634  2018-03-02
2         221634  2018-03-03
3         221634  2018-03-04
4         221634  2018-03-05
...          ...         ...
41871   99908129  2018-01-28
41872   99908129  2018-01-29
41873   99908129  2018-01-30
41874   99908129  2018-01-31
41875   99908129  2018-02-01

[41876 rows x 2 columns]

In [55]:
#add packages
from sklearn.model_selection import train_test_split

In [57]:
#Group by subjectID for split
df_grouped = df.groupby('subjectid')

#loop through each subjectID's date
for group_name, df_group in df_grouped:
    #split training set out
    train, non_train = train_test_split(df_group, test_size=0.4, shuffle=False)

    #split test and val into 2 20% sets
    test, val = train_test_split(non_train, test_size=0.5, shuffle=False)

    #write to tables in postgres
    train.to_sql('tb_model_train',con=db, index=False,if_exists='append')
    test.to_sql('tb_model_test',con=db, index=False,if_exists='append')
    val.to_sql('tb_model_validation',con=db, index=False,if_exists='append')

    #print for confirmation and bugs
    print('Success: '+str(group_name))

Success: 221634
Success: 309157
Success: 897741
Success: 1352464
Success: 2033176
Success: 2199852
Success: 4762925
Success: 5274556
Success: 7886752
Success: 12689381
Success: 13029224
Success: 13484299
Success: 13783771
Success: 14092221
Success: 15558575
Success: 15634563
Success: 16975609
Success: 17161370
Success: 18991425
Success: 19626656
Success: 20216809
Success: 20396154
Success: 20649783
Success: 21946407
Success: 22961398
Success: 23428091
Success: 24448124
Success: 25692073
Success: 26856617
Success: 27526291
Success: 27819368
Success: 28176124
Success: 28608066
Success: 28756888
Success: 28768536
Success: 32407882
Success: 32997134
Success: 33470634
Success: 33962890
Success: 35533061
Success: 35719805
Success: 37764532
Success: 37875431
Success: 37948668
Success: 37998755
Success: 38110191
Success: 39986716
Success: 40237051
Success: 40634871
Success: 40997757
Success: 41131654
Success: 42052178
Success: 43589707
Success: 45120081
Success: 46253612
Success: 47323535
Success: 47750728
Success: 48509634
Success: 48540630
Success: 49551394
Success: 49796612
Success: 50311906
Success: 51968000
Success: 54280576
Success: 56568290
Success: 56958831
Success: 57176789
Success: 60844515
Success: 61179686
Success: 62345070
Success: 62401782
Success: 63047517
Success: 63725802
Success: 64024750
Success: 64406000
Success: 65143138
Success: 66019205
Success: 66773091
Success: 66836068
Success: 66937570
Success: 67167655
Success: 67208817
Success: 67359234
Success: 68026248
Success: 68267781
Success: 69587086
Success: 69739062
Success: 69965708
Success: 70454270
Success: 70811987
Success: 71236754
Success: 71397255
Success: 71618088
Success: 72492570
Success: 73398408
Success: 73521474
Success: 74077367
Success: 76817975
Success: 77104076
Success: 77411181
Success: 78420229
Success: 79526193
Success: 80373992
Success: 80501215
Success: 80625186
Success: 80796147
Success: 81099003
Success: 81680176
Success: 84109428
Success: 84589080
Success: 84984656
Success: 85199788
Success: 85653830
Success: 86025410
Success: 86286077
Success: 86323903
Success: 87770486
Success: 88004055
Success: 88252802
Success: 89032650
Success: 89710417
Success: 89727223
Success: 90398368
Success: 91161972
Success: 93606058
Success: 93839818
Success: 94200862
Success: 95614431
Success: 95851255
Success: 96254963
Success: 96805916
Success: 97417885
Success: 97872409
Success: 98340749
Success: 98974339
Success: 99296581
Success: 99712241
Success: 99848889
Success: 99908129