In [5]:
#Packages
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [7]:
#SQL connection string
username = ''
password = ''
conn_string = f'postgresql://{username}:{password}@bgpredict-db.cpfgoi91tnmw.us-west-2.rds.amazonaws.com:5432/bg-predictDB'

#Create engine
db = create_engine(conn_string)

#Connect to postgresql
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

OperationalError: could not connect to server: Connection timed out (0x0000274C/10060)
	Is the server running on host "bgpredict-db.cpfgoi91tnmw.us-west-2.rds.amazonaws.com" (34.216.136.154) and accepting
	TCP/IP connections on port 5432?

In [8]:
#Write your SQL
sql = '''
    SELECT
        *
    FROM
        vw_final_dataset v
'''

In [10]:
#Put SQL output into dataframe
df = pd.read_sql_query(sql, con=db)

     subjectid
0       221634
1       309157
2       897741
3      1352464
4      2033176
..         ...
136   98974339
137   99296581
138   99712241
139   99848889
140   99908129

[141 rows x 1 columns]